@page
@model CarPark.Pages.Cars.IndexModel
@{
}

<a class="btn btn-success" asp-page="Create">Add</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Make</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data.Items)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Make</td>
                <td>@item.Name</td>
                <td>
                    <a class="btn btn-success" asp-page="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-warning" asp-page="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>

@await Html.PartialAsync("_Pagination", new { PageNumber = Model.Data.PageNumber, TotalPages = Model.Data.TotalPages })